* {
	font-family: Arial;
	color: black;
}
:root {
	--dark: #333333;
	--light: #ffffff;
}
body{
	background-color: var(--dark);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.menu button {
	background-color: var(--dark);
	border: none;
	color: var(--light);
	float: left;
	width: 25%; height: 50px;
}
.menu button:not(:last-child) {
	border-right: none; /* Prevent double borders */
}
.menu button:hover {
	background-color: #444444;
}
#main {
	background-color: var(--light);
	border-radius: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25%;
	margin-right: 25%;
	padding: 20px;
}
footer{
	width: 100%;
	color: var(--light);
	text-align: center;
	margin-top: auto;
}