///// GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
  color: #d5d5d5;
}
html {
  scroll-behavior: smooth;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
:root {
  --dark: #0e1116;
  --dark2: #11151c;
  --darkblue: #171b21;
  --darkgray: #22262c;
  --gray: #31363c;
  --font: #9098a2;
  --green: #64b75d;
}
body {
  background-color: var(--dark);
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.flex {
  display: flex;
}

@media screen and (max-width: 1300px) {
  #container {
    width: auto;
    margin-left: 12%;
    margin-right: 12%;
  }
  #expList {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #container {
    width: 90%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .menu button {
    width: 50%;
  }
  .menu {
    height: 100px;
  }
}

// Elements
hr {
  height: 2px;
  border-style: none;
  background-color: var(--gray);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Microsoft Sans Serif;
}
p {
  font-size: 15px;
  line-height: 1.5;
}
.bigP {
  font-size: 16px;
}
footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

///// HIERARCHY
#container {
  background-color: var(--darkblue);
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding: 30px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray);

  .menu {
    height: auto;
    min-height: 50px;
  }
  .menu button {
    background-color: var(--dark);
    border: none;
    float: left;
    width: 25%;
  }
  .menu button:hover {
    background-color: var(--dark2);
  }

  // Main
  #main {
    #profileImg {
      float: left;
      width: 30%;
      min-width: 200px;
      padding: 10px;
    }
    #infoColumn {
      float: left;
      width: calc(70% - 50px);
      padding-left: 50px;
      display: block;
      margin-block: auto;
    }
    #Utbildning * {
      color: var(--font);
    }

    .socialDiv {
      display: flex;
      height: 40px;
    }
    .socialDiv a {
      display: inline-block;
      width: 25%;
      color: var(--green);
      text-decoration: none;
      font-weight: bold;
      font-size: 17px;
      text-align: center;
    }
    .socialDiv a:hover {
      opacity: 0.6;
    }
  }
  // Details
  #details {
    .skillGroup {
      width: calc(100% - 40px);
      background-color: var(--dark2);
      border-radius: 5px;
      padding: 1px 20px 10px 20px;
      margin-top: 20px;
      border: solid rgba(100, 183, 93, 0.3);
      border-width: 0 0 3px 0;
    }
    .skillGroup * {
      color: var(--font);
    }
    .skillGroup p {
      font-size: 14px;
    }
    #expList {
      position: fixed;
      left: -40px;
      top: calc(50% - 60px);
    }
    #expList li,
    a {
      text-decoration: none;
      list-style: none;
      padding: 10px;
      font-size: 15px;
      color: #c2c2c2;
    }
    #expList a:hover {
      color: var(--font);
    }
  }
  // TE4
  #te4 {
    display: block;
  }
  // Projects
  #projects {
    display: block;
  }
}
